/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Flex:opsz,wght@8..144,300&display=swap'); */
/* shift alt down for windows and shift option down for Mac */
/*1- first create html basic page and link the icons fonts link to create special icons inside head tag */
/*2- Then in th body tag create header tag with class name nad in that make h1 of Tipu: then   */
/* 3- Now in the header create div tag with class name and in div create ul tag with class name all the these are in header tag */
/* 4- In ul tag create li elements with tabs that contains Home page link and Features link and Docs link with anchor tag */
/* 5- Now do the Css styling but first import the required font from google fonts */
/* 6- Use universal selector for styling then go step by step to other elements */
/* 7- use another class flex in the heaader for display flex <header class='container flex'> */
/* 8- then apply flex to ul with its parent class container of header */
/* 9- use pseudo class for hover effect */
/* 10- Now create an other html element section that will show the texts and webpage info under the navbar 
this will be in the body element but under header element 
11- Then in the section element create a div with class container and utility class grid
12- Now in this grid dive we are gonna have 2 divs that will be grid items inside the grid container with 
class showtext-text
13- first div will be for demo request with a class name
14- 2nd dive will be a form with input field and submit button with class form control
15- now create custom properties of css by using :root selector
16- Then apply these properties to showtext section with background color
17- Then apply display grid to utility class grid and furter apply all grid properties
18- Now use section element first class named showtext with grid to apply grid-template-columns proprties
that will make the left column less wider
19- Now start with utility class card to style the form input and submit buttons
The box-shadow property attaches one or more shadows to an element.

CSS Syntax
box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;

Example

Add a blur effect to the shadow:
#example1 {
  box-shadow: 10px 10px 8px #888888;
} 

20- when applying grid-column property to only div container the overflow property does not work but iit works
for whole section class showtext.

21- z-index Usage The z-index property specifies the stack order of an element.

An element with greater stack order is always in front of an element with a lower stack order.

Note: z-index only works on positioned elements (position: absolute, position: relative, position: fixed, or position: sticky) and flex items (elements that are direct children of display:flex elements).

Note: If two positioned elements overlap without a z-index specified, the element positioned last in the HTML code will be shown on top. 

22- justify-self

The CSS justify-self property sets the way a box is justified inside its alignment container along the appropriate axis.





*/
